// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
 * Base Overrides
 */
 html {
    height: 100%;
    min-height: 100%;
  }

 body {
    height: 100%;
    min-height: 100%;
 }

 main {
    flex: content;
 }

 * {
    box-sizing: border-box;
 }
 .page-content-full {
    padding: $spacing-unit-full 0px;
 }

 .page-heading-full {
    @include relative-font-size(2);
 }

 .footer-col-full {
    float: center;
    margin-bottom: calc($spacing-unit / 2);
    padding: calc($spacing-unit / 4);
 }

 /**
 * Wrapper
 */
.wrapper-full {
    height: 100%;
    min-height: 100%;
    max-width: -webkit-calc(#{$content-width-full});
    max-width:         calc(#{$content-width-full});
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit-full;
    padding-left: $spacing-unit-full;
    @extend %clearfix;
  
    @include media-query($on-laptop) {
      max-width: -webkit-calc(#{$content-width-full} - (#{$spacing-unit-full}));
      max-width:         calc(#{$content-width-full} - (#{$spacing-unit-full}));
      padding-right: $spacing-unit-full / 2;
      padding-left: $spacing-unit-full / 2;
    }
  }
  
  .wrapper-padded {
    max-width: -webkit-calc(#{$content-width-padded});
    max-width:         calc(#{$content-width-padded});
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit-padded;
    padding-left: $spacing-unit-padded;
    min-width: 300px;
    
    @include media-query($on-laptop) {
      max-width: -webkit-calc(#{$content-width-padded} - (#{$spacing-unit-padded}));
      max-width:         calc(#{$content-width-padded} - (#{$spacing-unit-padded}));
      padding-right: $spacing-unit-padded / 2;
      padding-left: $spacing-unit-padded / 2;
    }
  }

/**
 * spacing styles
 */
 .evenly-spaced-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
 }

 .evenly-spaced-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    margin-right: 0;
    span {
      margin-inline: 15px;
    }
  }

  .evenly-spaced-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-left: 0;
    span {
      margin-inline: 15px;
    }
  }

/**
 * spacing styles
 */
 .evenly-spaced-center {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  span {
    margin-inline: 15px;
  }
}

/**
 * Material Icons
 */
 .material-symbols-outlined {
    font-variation-settings: 'wght' 400;
    visibility: visible;
    &:hover {
      font-variation-settings: 'wght' 500;
      cursor: pointer;
    }
  }

  .clickable-text {
    visibility: visible;
    &:hover {
      cursor: pointer;
    }
  }

  .project-info {
    font-size: x-large;
  }

  .name {
    font-size: x-large;
  }

  .project-title {
    position: absolute;
    text-align: center;
    font-weight: bold;
    left:50%;
    margin-right: -50%;
    transform: translateX(-50%);
  }

  .project-description {
    position: absolute;
    text-align: center;
    left:50%;
    margin-right: -50%;
    transform: translateX(-50%);
  }

  

  .disabled {
    visibility: hidden;
  }

  .disabled-canvas {
    visibility: hidden;
    display: none !important;
  }

 .menu-symbol {
    display: inline-block;
  }

/**
 * Polygon
 */

 .polygon-div {
    width: 100%;
    height: 100%;
    background-color: $polygon-background-color;
  }
  
  .polygon-img {
    position:fixed;
    z-index: 1;
  }

  /**
 * Tables
 */
table {
    margin-bottom: $spacing-unit;
    width: 100%;
    text-align: $table-text-align;
    color: $table-text-color;
    border-collapse: collapse;
    border: 1px solid $table-border-color;
    tr {
      &:nth-child(even) {
        background-color: $table-zebra-color;
      }
    }
    th, td {
      padding: ($spacing-unit * 33.3333333333 * .01) ($spacing-unit * .5);
    }
    th {
      background-color: $table-header-bg-color;
      border: 1px solid $table-header-border;
    }
    td {
      border: 1px solid $table-border-color;
    }
  
    @include media-query($on-laptop) {
      display: block;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
              -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }
  
  /**
   * Canvas
   */
  canvas {
    width: 100%;
    height: 100%;
  }